<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/Header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/Footer.css') }}">
</head>
</head>

<link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>

<div class="navbar"></div>
<a href="/groups" class="btn">Groups</a>
<a href="/groups/invitations" class="btn">Invitations</a>
<a href="/tickets/your_tickets" class="btn">Tasks</a>
<a href="/account" class="btn">Account</a>
</div>

{% block content %} {% endblock %}

<div class="navbar"></div>
<a href="/logout" class="logout">Logout</a>
</div>