<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/Style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/Table.css') }}">
    <title>Project Members</title>
</head>

{% extends "Sub/mainHeader.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<br><br>
<div class="flash_box">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{msg}}
</div>
{% endfor %}
{%endif%}
{% endwith %}

<body>
    <h2 style="font-size: 30px;">{{project_name}}</h2>
    <p>Manager : {{manager_name}}</p>

    <table>
       

        {% for member in members %}
        <tr>
            <td>{{member[0]}}</td>
            <td>{{member[1]}}</td>
            {% if(manager == user_id) %}
            <td>
                <a onclick="javascript:confirmationChangeOwner($(this));return false;" class="edit_btn"
                    href="/projects/{{group_id}}/make_manager/{{project_id}}/{{member[2]}}">Make Manager</a>
            </td>

            <td>
                <a onclick="javascript:confirmationRemoveUser($(this));return false;" class="del_btn"
                    href="/projects/{{group_id}}/remove_user/{{project_id}}/{{member[2]}}">Remove User</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>

<script>
    function confirmationRemoveUser(anchor) {
        var conf = confirm('Are you sure want to remove this user from the project?');
        if (conf)
            window.location = anchor.attr("href");
    }
</script>

</body>
{% endblock %}