<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/Style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/Table.css') }}">
    <title>Tickets</title>
</head>

{% extends "Sub/mainHeader.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<br><br>
<div class="flash_box">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{msg}}
</div>
{% endfor %}
{%endif%}
{% endwith %}

<body>
    <h2 style="font-size: 30px;">{{project_name}}</h2>
    <p>"{{project_description}}"</p>

    <div class="btn_group">
        <div style="display: inline-block;">
            <a href=/tickets/new_ticket/{{group_id}}/{{project_id}} class=invisible_text target="_blank">New</a>
            <br>
            <a href=/tickets/new_ticket/{{group_id}}/{{project_id}} class=btn_image target="_blank"
                style="background-image: url(/static/Images/new_project_icon.jpg);"></a>
            <br>
        </div>
    </div>

    <div class="btn_group">
        <div style="display: inline-block;">
            <a href=/projects/members/{{group_id}}/{{project_id}} class=invisible_text target="_blank">Members</a>
            <br>
            <a href=/projects/members/{{group_id}}/{{project_id}} class=btn_image target="_blank"
                style="background-image: url(/static/Images/new_group_icon.png);"></a>
        </div>
    </div>

    {% if(manager == user_id) %}
        <div class="btn_group">
            <div style="display: inline-block;">
                <a href=/projects/{{group_id}}/delete_project/{{projects_id}} class=invisible_text>Delete</a>
                <br>
                <a href=/projects/{{group_id}}/delete_project/{{projects_id}} class=btn_image
                    style="background-image: url(/static/Images/bin_icon.png);"></a>
            </div>
        </div>
    {% else %}
        <div class="btn_group">
            <div style="display: inline-block;">
                <a href=/projects/{{group_id}}/leave_project/{{projects_id}} class=invisible_text>Leave</a>
                <br>
                <a href=/projects/{{group_id}}/leave_project/{{projects_id}} class=btn_image
                    style="background-image: url(/static/Images/bin_icon.png);"></a>
            </div>
        </div>
    {% endif %}

    <br><br>>
    
    <h3>Active</h3>
    {% for ticket in tickets %}
    <a href="/tickets/view_tickets/{{group_id}}/{{project_id}}/{{ticket[0]}}" class="data_box">
        <h3>{{ticket[4]}}</h3>
        <field>
        {% if not(ticket[1] == None) %}
            Started
            {% else %}
            Not Started
            {% endif %}
        </field>
    </a>
    {% endfor %}

    <br><br>

    <h3>Completed</h3>

    {% for ticket in completed %}
    <a href="/tickets/view_tickets/{{group_id}}/{{project_id}}/{{ticket[0]}}" class="data_box">
        <h3>{{ticket[4]}}</h3>
        <field style="color: #eea7fc;">
            Compelete
        </field>
    </a>
    {% endfor %}

</body>

<script>
    function confirmationDeleteTicket(anchor) {
        var conf = confirm('Are you sure want to delete this ticket?');
        if (conf)
            window.location = anchor.attr("href");
    }
</script>

{% endblock %}