<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/Style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/Table.css') }}">
    <title>User Tickets</title>
</head>

{% extends "Sub/mainHeader.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <br><br>
            <div class="flash_box">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{msg}}
            </div>
        {% endfor %}
    {%endif%}
{% endwith %}
<body>
    <h2 style="font-size: 30px;">Your Tickets</h2>

    <br>
    <h3>Active</h3>

    {% for ticket in tickets %}
    <a href="/tickets/view_tickets/{{ticket[4]}}/{{ticket[5]}}/{{ticket[6]}}" class="data_box">
        <h3>{{ticket[0]}}</h3>
        <field>Group : {{ticket[2]}}</field>
        <field>Project : {{ticket[3]}}</field>
    </a>
    {% endfor %}

    <br><br>
    <h3>Completed</h3>

    {% for ticket in completed %}
    <a href="/tickets/view_tickets/{{ticket[4]}}/{{ticket[5]}}/{{ticket[6]}}" class="data_box">
        <h3>{{ticket[0]}}</h3>
        <field>Group : {{ticket[2]}}</field>
        <field>Project : {{ticket[3]}}</field>
    </a>
    {% endfor %}
</body>

<script>
    function confirmationDeleteTicket(anchor) {
        var conf = confirm('Are you sure want to delete this ticket?');
        if (conf)
            window.location = anchor.attr("href");
    }
</script>

{% endblock %}